/(Tentative Schedule) Executive PG Certificate Programs By IIT Roorkee.xlsx
/.ipynb_checkpoints
/2-Aurélien-Géron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-O’Reilly-Media-2019.pdf
/2201.00650.pdf
/41 Machine Learning Interview Essentials.pdf
/5G Theoretical throughput and impacting factors.pptx
/AI, Human Rights, Democracy, and the Rule of Law.pdf
/Artificial Intelligence ( PDFDrive ).pdf
/artificial-intelligence-modern-approach.9780131038059.25368.pdf
/CB006095 AI_ML based power saving_TA v0.6.pptx
/download.jfif
/Foundation - Libraries.pdf
/foundations_of_python_459.py
/Francesco_Corea_An_Introduction_to_Data_Everythz_lib_org.pdf
/Git-2.34.1-64-bit.exe
/GitHubDesktopSetup-x64.exe
/NationalStrategy-for-AI-Discussion-Paper.pdf
/NR_DL_THP_RT_26th_Jan_2022_Ver_01.txt
/numpy+pandas+matplotlib.pdf
/Session 3 - Git - Version Control.pdf
/snapshot.xlsx
/Theoretical_throughput_and_impacting_factors_in_5G_ext_review.pdf
/Untitled.ipynb
/VSCodeUserSetup-x64-1.63.2 (1).exe
/VSCodeUserSetup-x64-1.63.2.exe
/~$snapshot.xlsx